


@media (max-width: 768px) {

    #aboutus1{
        margin-left: 10px; 
     }
     #headerincontactus{
        font-size: 35px;
     }



   
   }
   


@media(min-width:1350px){
    #aboutus1{
        margin-left: 260px; 
     }
}