
@media (max-width: 768px) {

 #cards1{
 
  flex-direction: column;
  margin: 40px;
  margin-left: 2px;
  
 }

 #cardone{

    margin-left: 30px;
    margin-bottom: 30px;
 }
 #cardone1{

  
    margin-bottom: 30px;
 }

 #bthead{
  font-size: 13px;
  margin: 10px;
 }
#bthead1{
 
margin: 10px; }



#viewbtn{
 width: 280px;
 font-size: 10px;
 margin-bottom: 10px;
}

}






@media(min-width:1350px){
    #cards1{
        flex-direction: row;
     }
     #cardone{
      margin-left: 0px;
  }
#viewbtn{
  width: 800px;
}

}