<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add Business</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form action="" method="POST">{% csrf_token%}
            <lable >Business name:</lable>
            <input type="text" name="business" ><br>
            <lable >Contact Info:</lable>
            <input type="text" name="contact"><br>
            
            <br>
            <button type="button"><a href="/add_category">Add Category</a></button>
            <input type="submit">
            <div>
                <h3>Added Categorys</h3>
                {% for business in  busList %}
                    <h7>{{business}}</h7><br>
                {% endfor %}
            </div>
        </form>
        <script src="" async defer></script>
    </body>
</html>