.fieldset {
    border: 2px solid transparent;
    border-color: #186444;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 15px;
    width: 1490px;
}

.legend {
    margin-left: 5%;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    color: #186444;
}





@media (max-width: 768px) {

        #nearmeheading{
            font-size: 20px;
            margin-top: 10px;
            padding-top: 10px;
        }
        #fdset{
            
            width: 350px;
            margin-top: 40px;
           
        }

    #cardinview{
        flex-direction: column;
        width: fit-content;
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
        
    }



   
   }
   


















@media(min-width:1350px){
    #nearmeheading{
        margin-left: 150px;
        
     
    }
    #cardinview{
       
        padding: 0;
        margin-left: 25px;
        flex-direction: row;
        width: fit-content;
    }
    #fdset{
        width: 1500PX;
        
        
        
        ;
    }
    
    
}