
@media (min-width:412px){
    #ezylogo{
        margin-left: 10px;
        margin-top: 10px;
    }
}
@media(min-width:1350px){
    #ezylogo{
        margin-left:190px;
        margin-top: 10px;
    }
}