.fieldset {
    border: 2px solid transparent;
    border-color: #186444;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 15px;
    width: 1490px;
}

.legend {
    margin-left: 5%;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    color: #186444;
}


@media (min-width:412px){
    #nearmeheading{
        margin-left: 44px;
        
     
    }
    #cardinview{
       
        padding: 0;
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
        width: fit-content;
    }
    #fdset{
        width: fit-content;
    }
    
    

}

@media(min-width:1350px){
    #nearmeheading{
        margin-left: 150px;
        
     
    }
    #cardinview{
       
        padding: 0;
        margin-left: 25px;
        flex-direction: row;
        width: fit-content;
    }
    #fdset{
        width: 1500PX;
        
        
        
        ;
    }
    
    
}