

@media (min-width:412px){
    #gm1{
       visibility: hidden;
    }
    #header{
        margin-left: 0px;
    }
}
@media(min-width:1350px){
    #gm1{
        visibility: visible;
     }
     #header{
        margin-left: 600px;
    }
}