

/* Home.css */

/* Adjustments for phone screens */
@media (max-width: 768px) {

    #gm1{
    display: none;
    }
    #gerin{
        margin: 5px;
    }
    
  
}

@media(max-width:1350px){
    #gm1{
        visibility: visible;
     }
     #header{
        margin-left: 600px;
    }
}